<div>
 <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
          	<h2>Michael Goff</h2>
          	<p>Web Developer</p>
          	<p><a href=-"mailto:mikeagoff@gmail.com">mikeagoff@gmail.com</a></p>
          	<p><a href="https://www.linkedin.com/in/michaelagoff">LinkedIn</a></p>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
     
    </div>
   
  </md-content>
</div>