

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/Home">Recipe Locker</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/Home"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/#/Recipe"><i class="fa fa-book"></i> Recipe</a></li>
        <li><a href="/#/Admin"><i class="fa fa-gears"></i> Admin</a></li>
        <li><input placeholder=" Search" type="text" maxlength="50" size="15" ng-model="searchCriteria" class="radius-3" style="margin-top: 11px; height: 30px; font-size: 16px;"><button type="button" class="radius-3 btn btn-primary" style="height: 30px; width: 36px; margin: -4px 0 0 4px;" ng-click="search()"><i class=" fa fa-search" style="margin: -5px;font-size: 18px;"></i></button></li>
      </ul>
    </div>
  </nav>