.ccs-datetime-picker {
	width: 337px;
	height: 450px;
	position: absolute;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 10px 10px 51px -5px rgba(0,0,0,0.54);
	background: #fff;
	z-index: 1000
}

.isRange .ccs-datetime-picker {
	width: 700px;
}

.ccs-date-picker-header {
	font-weight: bold;
}

.ccs-datetime-picker a, .ccs-datetime-picker a:hover {
	text-decoration: none!important;
	cursor: pointer;
}

.ccs-date-picker-monthYear {
	text-align: center;
	width: 235px;
}
.ccs-date-picker-days{
	margin-top: 10px;
	cursor: pointer;
	width: 329px;
}

.ccs-date-picker-day, .ccs-date-picker-day-current, .ccs-date-picker-day-selected {
	border-radius: 5px;
	background: #f3ecec;
	border: 1px solid #ddd;
	height: 45px;
	width: 45px;
	float: left;
	margin: 0 2px 2px 0;
	color: #000;
}

.ccs-date-picker-day-current {
	background: #d3e9f5;
}

.ccs-date-picker-day-selected-start {
	background: #40af33;
	color: #fff;
	font-weight: bold;
}

.ccs-date-picker-day-selected-end {
	background: red;
	color: #fff;
	font-weight: bold;
}

.ccs-date-picker-day-selected-startAndEnd {
	background: linear-gradient(135deg, #40af33 50%, red 50%);
	font-weight: bold;
}


.ccs-date-time-picker-today {
	background: #67c0f1;
	color: #fff;
}

.ccs-date-picker-days .one {
    position: relative;
    top: 10px;
    left: 17px;
}

.ccs-date-picker-days .two {
    position: relative;
    top: 10px;
    left: 13px;
}

.ccs-date-picker-day:hover, .ccs-date-picker-day-current:hover, .ccs-date-picker-day-selected:hover {
	opacity: .5;
}

.adjustMonth {
	margin: 0 6px;
}

.inRange {
	background: linear-gradient(180deg, #d1f4b7 50%, #ffa9a9 50%);
	font-weight: bold;
}

.ccs-time-picker {
	clear:  both;
	float: left;
	width: 337px;
}

.timeLayout input {
    width: 40px;
    height: 30px;
    font-size: 20px;
}

.timeLayout input.millisecond {
    width: 60px;
}

.timeLayout i {
	font-size: 30px;
}