.ccs-datetime-picker {
	width: 340px;
	height: 400px;
	position: absolute;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 10px 10px 51px -5px rgba(0,0,0,0.54);
	background: #fff;
	z-index: 1000
}

.isRange .ccs-datetime-picker {
	width: 700px;
}

.ccs-date-picker-header {
	font-weight: bold;
}

.ccs-datetime-picker a, .ccs-datetime-picker a:hover {
	text-decoration: none!important;
	cursor: pointer;
}

.ccs-date-picker-monthYear {
	text-align: center;
	width: 241px;
}
.ccs-date-picker-days{
	margin-top: 10px;
	cursor: pointer;
	width: 329px;
}

.ccs-date-picker-day, .ccs-date-picker-day-current, .ccs-date-picker-day-selected {
	border-radius: 2px;
	background: #f3ecec;
	border: 1px solid #ddd;
	height: 45px;
	width: 45px;
	float: left;
	margin: 0 2px 2px 0;
	color: #000;
}

.ccs-date-picker-day-current {
	background: #d3e9f5;
}

.ccs-date-picker-day-selected-start {
	background: #40af33;
	color: #fff;
}

.ccs-date-picker-day-selected-end {
	background: red;
	color: #fff;
}


.ccs-date-time-picker-today {
	background: #67c0f1;
	color: #fff;
}

.ccs-date-picker-days .one {
    position: relative;
    top: 10px;
    left: 17px;
}

.ccs-date-picker-days .two {
    position: relative;
    top: 10px;
    left: 13px;
}

.ccs-date-picker-day:hover, .ccs-date-picker-day-current:hover {
	background: #ccd9ff!important;
}

.ccs-date-picker-day-selected:hover {
	background: #067ab9!important;
}

.adjustMonth {
	margin: 0 6px;
}

.inRange {
	background: #d1f4b7;
}