<div>
	
	<div class="ccs-datetime-picker">
		<div class="ccs-datetime-picker-header">
			<div class="pull-left">
				<a href="" ng-click="minusYear()">
					<i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
				</a>
				<a href="" ng-click="minusMonth()">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="ccs-datetime-picker-monthYear pull-left">
				{{currentMonth}} {{currentYear}}
			</div>
			<div class="pull-right">
				<a href="" ng-click="plusYear()">
					<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
				</a>
				<a href="" ng-click="plusMonth()">
					<i class="fa fa-chevron-right"></i>
				</a>
			</div>


		</div>

	</div>

</div>