<div>
	
	<div class="ccs-datetime-picker">
		<div class="ccs-date-picker-header">
			<div class="pull-left">
				<a href="" ng-click="minusYear()">
					<i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
				</a>
				<a href="" ng-click="minusMonth()">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="ccs-date-picker-monthYear pull-left">
				{{currentMonth}} {{currentYear}}
			</div>
			<div class="pull-right">
				<a href="" ng-click="plusYear()">
					<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
				</a>
				<a href="" ng-click="plusMonth()">
					<i class="fa fa-chevron-right"></i>
				</a>
			</div>
		</div>

		<div class="ccs-date-picker-days">
			
			<div ng-repeat="d in daysArray track by $index" ng-click="selectDay(d)"  ng-class="{'ccs-date-picker-day': d.type != 'current', 'ccs-date-picker-day-current': d.type == 'current', 'ccs-date-picker-day-selected': d.isSelected}">
				<span ng-class="{one: d.day.toString().length == 1, two: d.day.toString().length == 2}" title="{{d.year}}-{{d.month}}-{{d.day}}">
					{{d.day}}
				</span>
			</div>
		</div>


		

		<div class="ccs-time-picker">

		</div>

	</div>
	<pre style="position: relative;top: 300px">{{model}}</pre>
</div>